:root {
	--divw: 72px;
	--divh: 75px;
}

body {
	margin: 0;
	padding: 0;
	width: 100dvw;
	height: 100dvh;
	box-sizing: border-box;
	background-color: #222;
	display: grid;
	place-items: center;
}

.grid {
	display: grid;
	grid-template-rows: 80px 80px 80px 80px;
	grid-template-columns: 80px 80px 80px;
	place-items: center;
	gap: 2px;
}

div[class^="part"] {
	border: 1px solid white;
	width: var(--divw);
	height: var(--divh);
	background-image: url(./assets/Parts/00.png); /*Rest Later*/
	background-size: 100%;
	background-position: 0 0;
}

/* idea is to create the logo, once the page is loaded, all parts fly 
in from all diff directions and complete this image that is present */
