@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--darker: hsl(212, 21%, 14%);
	--lighter: hsl(228, 12%, 48%);
	--button: hsl(158, 36%, 37%);
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.outer {
	width: 100%;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(30, 38%, 92%);
}

.card {
	background-color: white;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600px;
	height: 450px;
}

.img picture img {
	object-fit: contain;
	border-radius: 0.5rem 0 0 0.5rem;
	width: 300px;
}

.info {
	display: flex;
	flex-direction: column;
	font-size: smaller;
	justify-content: space-evenly;
	padding: 1.75rem;
	height: 100%;
}

.info * {
	margin: 0;
	padding: 0;
}

.info p {
	font-size: 14px;
}

.info .category {
	color: var(--lighter);
	letter-spacing: 0.25rem;
	font-weight: 500;
}

.info .title {
	font-family: "Fraunces", sans-serif;
	font-size: 2rem;
	line-height: 2rem;
}

.info .desc {
	color: var(--lighter);
	font-weight: 500;
	line-height: 1.5;
}

.info .price {
	display: flex;
	gap: 1.25rem;
	align-items: center;
}

.info .price h1 {
	font-family: "Fraunces", sans-serif;
	color: var(--button);
	font-size: 2rem;
	line-height: 2rem;
}

.info .price p {
	text-decoration: line-through;
	color: var(--lighter);
	font-weight: 500;
}

.info button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--button);
	gap: 1.25rem;
	color: white;
	font-weight: 700;
	border-radius: 0.5rem;
	height: 3.25rem;
	text-decoration: 0;
	border: 0;
}

@media screen and (max-width: 650px) {
	.card {
		flex-direction: column;
		width: 100%;
		margin: 1rem;
		height: auto;
	}

	.info {
		gap: 1em;
	}

	.img picture img {
		width: 100%;
		object-fit: cover;
		border-radius: 0.5rem;
	}
}
