@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
	--DarkMagenta: hsl(300, 43%, 22%);
	--SoftPink: hsl(333, 80%, 67%);
	--DarkGrayishMagenta: hsl(303, 10%, 53%);
	--LightGrayishMagenta: hsl(300, 24%, 96%);
}

* {
	margin: 0;
	padding: 0;
}

.outer {
	width: 95%;
	margin: auto;
	height: 100dvh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"intro ratings"
		"reviews reviews";
	gap: 2rem;
	}

.intro{
	grid-area: intro;
}

.ratings{
	grid-area: ratings;
}

.reviews{
	grid-area: reviews;
}
